<main class="flex-1 mt-5 flex gap-y-5 flex-col items-center">
    <section class="flex justify-center items-center flex-col gap-y-5">
        <a class="bg-black text-white hover:bg-slate-800 rounded-md cursor-pointer w-fit p-2 shadow-md" id="add-todo-button" title="Add New Todo">Add New Todo</a>
        <%- include('includes/add-todo-modal.ejs') %>
    </section>
    <section class="flex flex-col justify-center gap-y-5">
        <% for (const todo of todos) { %>
        <%
            let todoTitle = todo.title;
            if (todo.completed) {
                todoTitle += ' - Completed';
            }
        %>
        <section class="border border-black rounded-md shadow-md p-5 flex items-center justify-between relative">
            <p class="<%= (todo.completed) ? 'line-through' : '' %>" title="<%= todoTitle %>"><%= todo.title %></p>
            <form action="/<%= todo.id %>/delete" method="GET">
                <button type="submit" title="Delete <%= todo.title %>">
                    <svg height="24px" viewBox="0 0 24 24" width="24px" fill="#f44336">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path d="M16 9v10H8V9h8m-1.5-6h-5l-1 1H5v2h14V4h-3.5l-1-1zM18 7H6v12c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7z" />
                    </svg>
                </button>
            </form>
        </section>
        <% } %>
    </section>
</main>
